<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://treerep-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>treerep-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>treerep-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$treerep-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MOROCCOEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=mywaysql.database.windows.net;Initial Catalog=MOR-API;Persist Security Info=True;User ID=mywaydev;Password=Pa$$w0rd@633411" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TreeRepApi.Models.MOROCCOEntities, TreeRepApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MOROCCOEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.treeSp.csdl|res://*/Models.treeSp.ssdl|res://*/Models.treeSp.msl;provider=System.Data.SqlClient;provider connection string="Data Source=mywaysql.database.windows.net;Initial Catalog=MOR-API;Persist Security Info=True;User ID=mywaydev;Password=Pa$$w0rd@633411"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>